/* Standard Grid Layout Prototype by Chris Bonilla - CDS/Mobility */
/* Grid Layout Styles go here */

	.wrapper {
        display: grid;
		/*grid-column-gap: 0px;
		grid-row-gap: 0px;*/
        grid-template-columns: minmax(120px,12%) 5px 1fr;
		grid-template-rows: 30px	/*Header [minmax(30px,40px)]*/
							5px 	/*Accent Spacer*/
							5px 	/*Spacer*/
							1fr	/*Menu/Content*/
							5px 	/*Spacer*/
							5px 	/*Accent Spacer*/
							20px;	/*Footer*/
        grid-template-areas:
		"upsshield          spacer-v-tilt      header"
		"spacer-h-accent    spacer-h-accent    spacer-h-accent"
		"spacer-head        spacer-head        spacer-head"
		"nav                nav                nav"
		"sidebar            ........           content"
		"spacer-foot        spacer-foot        spacer-foot"
		"spacer-f-accent    spacer-f-accent    spacer-f-accent"
		"footer             footer             footer";
		
		/*grid gap: 5px;
		TODO: make header and footer into separate grid elements and remove spacers from layout
		*/
		min-height: 100vh;
    }


	.box {
	  /*border-radius: 5px;*/
	  padding: 3px;
	  /*font-size: 150%;*/
	}

	.nogrid {
		padding: 10px;
	}
	
	@supports (display:grid) {
		.nogrid {
			display: none;
		}
	}

	.upsshield {
        grid-area: upsshield;
		padding-top: 5px;
	}
	
	.shieldcontainer {
		display: inline-block;
		width: 100%;
		height: 100%;
		vertical-align: middle;
	}
	
	.shieldcontainer > .shieldimage {
		max-height:90%;
		vertical-align: middle;
		padding-left: 5px;	
    }
	
	.nav {
        grid-area: nav;
    }
	
	.sidebar {
        grid-area: sidebar;
		overflow-y: auto;
    }
	
    .content {
        grid-area: content;
		overflow-y: auto;
    }

    .header {
        grid-area: header;
		padding-left: 15px;	
	}
	
    .footer {
        grid-area: footer;
		/*position:fixed;
		grid-column-start: 1;
		grid-column-end:   5;
		grid-row-start: 6;
		grid-row-end: 7;
		/*
		height:5%;
		max-height:20px;
		/*bottom:0px;*/
	}
	
	.spacer-v {
        grid-area: spacer-v;
    }
	
	.spacer-v-tilt {
        grid-area: spacer-v-tilt;
		width: 12px;
		margin-left: -3px;
		height: 100%;
	-webkit-transform: skew(-7deg);
	   -moz-transform: skew(-7deg);
	     -o-transform: skew(-7deg);
    }

    .spacer-head
	{
        grid-area: spacer-head;
    }

    .spacer-foot {
        grid-area: spacer-foot;
    }
	
	.spacer-h-accent {
        grid-area: spacer-h-accent;
    }
	
	.spacer-f-accent {
        grid-area: spacer-f-accent;
    }