/* Standard Theme Prototype by Chris Bonilla - CDS/Mobility */
/* Theme Styles go here */

	.accent-1,
	.upsshield,
	.nogrid	{
		background-color: #2A7C7D;
		color: #fff;
	}

	.accent-2,
	.spacer-v-accent,
	.spacer-v-tilt {
		background-color: #5A8F8F;
		color: #fff;
	}
	
	.accent-3,
	.spacer-h-accent,
	.spacer-f-accent {
		background-color: #43C8CA;
		color: #fff;
	}
	
	/*
	.spacer-v,
	.spacer-h {
        background-color: #fff;
        color: #444;
    }
	*/