<div class="navbar navbar-fixed-top navbar-default ups-top-navigation">
    <div class="leftHead">
        <div class="headerInset">
            <div class="insetContainer">
                <a class="navbar-brand" href="#">
                    <img alt="Ups-Logo" class="img-responsive ups_logo" src="../../assets/imgs/UPS_Logo.png" />
                </a>
            </div>
        </div>
            <span class="brandingContainer">
                <span class="brandingText">STORM</span>
            </span>
        <ion-buttons style="display: inline-block; float: right; margin-right: 2px; margin-top: -34px;" id="menuButton" start>
            <button ion-button icon-only menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </div>
</div>

<ion-segment [(ngModel)]="whichPage" color="primary" style="position: relative;top: 50px;z-index: 99999999;">
    <ion-segment-button style="font-size: 11px" value="Good">
        Positive
    </ion-segment-button>
    <ion-segment-button style="font-size: 11px" value="Bad">
        Negative
    </ion-segment-button>
</ion-segment>
<ion-content padding style="margin-top: 92px;">
    <div [ngSwitch]="whichPage">
        <ion-list>
            <div class="yeah" style="display:-webkit-box;display: -webkit-flex;display: -ms-flexbox;display: flex;-webkit-box-orient: horizontal;-webkit-box-direction: normal;-webkit-flex-direction: row;-ms-flex-direction: row;flex-direction: row;">
                <div class="queue1 fullOnMobile" style="width:70%;">
                    <div style="display:inline-block;width:40%">
                        <h1>Activity</h1>
                    </div>
                    <div style="display:inline-block;width:30%;float:right;text-align: right;padding-right: 28px;">
                            <ion-select #generalQueueTotal [(ngModel)]="generalQueueTotal2" (ionChange)="changeGeneralQueue(generalQueueTotal.value)"
                            style="background:#222;color:#FFF;max-width:100%;">
                                <ion-option value="5">5</ion-option>
                                <ion-option value="10">10</ion-option>
                                <ion-option value="15">15</ion-option>
                                <ion-option value="25">25</ion-option>
                                <ion-option value="50">50</ion-option>
                                <ion-option value="100">100</ion-option>
                            </ion-select>
                            <!-- <button ion-button primary (click)="changeGeneralQueue(generalQueueTotal.value)" style="display:inline-block;width:40%">Update Queue</button>  -->
                    </div>
                </div>
                <div class="queue2 noShowOnMobile" style="width:35%;">
                    <h1>My Responses</h1>
                </div>
            </div>
            <!-- <input #generalQueueTotal type="text" [(ngModel)]="generalQueueTotal2" required />-->
                <hr/>
                <div id="queueContainer">
                    <div class="queue1" *ngSwitchCase="'Good'" ngSelected="selected">
                        <ion-list>
                            <ion-item-sliding #slidingItem *ngFor="let tweet of goodTweets">
                                <ion-item text-wrap>
                                    <p>{{ tweet.text }}</p>
                                    <small style="display:inline-block;float:left"><a (click)="getTweetsByUser(tweet.user)">{{ tweet.user }}</a></small> 
                                    <small style="display:inline-block;float:right">{{ refineDate(tweet.date) }}</small>
                                    <ion-thumbnail item-start>
                                        <img src="{{tweet.avatar}}" />
                                    </ion-thumbnail>
                                </ion-item>
                                <ion-item-options>
                                    <button ion-button color="primary" (click)="claimTweet(slidingItem, tweet, username)">
                                        <ion-icon name="check"></ion-icon>
                                        Claim
                                    </button>
                                </ion-item-options>
                                <ion-item-divider></ion-item-divider>
                            </ion-item-sliding>
                        </ion-list>
                    </div>
                    <div class="queue1" *ngSwitchCase="'Bad'">
                        <ion-list>
                            <ion-item-sliding #slidingItem  *ngFor="let tweet of badTweets">
                                <ion-item text-wrap>
                                    <p>{{ tweet.text }}</p>
                                    <small style="display:inline-block;float:left"><a (click)="getTweetsByUser(tweet.user)">{{ tweet.user }}</a></small> 
                                    <small style="display:inline-block;float:right">{{ tweet.date }}</small>
                                    <ion-thumbnail item-start>
                                        <img src="{{tweet.avatar}}" />
                                    </ion-thumbnail>
                                </ion-item>
                                <ion-item-options>
                                    <button ion-button color="primary" (click)="claimTweet(slidingItem, tweet, username)">
                                        <ion-icon name="check"></ion-icon>
                                        Claim
                                    </button>
                                </ion-item-options>
                                <ion-item-divider></ion-item-divider>
                            </ion-item-sliding>
                        </ion-list>
                    <button ion-button (click)="goToReports()">Go To Reports</button>
                    </div>
                    <div class="queue2 noShowOnMobile">
                        <ion-list>
                            <div *ngFor="let res of myResponses; let i = index">
                                <ion-item *ngIf="i<5+zeep">
                                        <a (click)="getTweetsByUser(res.user)">{{res.response}}</a>
                                        <small>{{ res.createdAt }}</small>
                                </ion-item>
                            </div>
                        </ion-list>
                    </div>
                </div>
        </ion-list>
    </div>
</ion-content>