<div class="navbar navbar-fixed-top navbar-default ups-top-navigation">
    <div class="leftHead">
        <div class="headerInset">
            <div class="insetContainer">
                <a class="navbar-brand" href="#">
                    <img alt="Ups-Logo" class="img-responsive ups_logo" src="../../assets/imgs/UPS_Logo.png" />
                </a>
            </div>
        </div>
            <span class="brandingContainer">
                <span class="brandingText">G0D P4G3</span>
            </span>
        <ion-buttons style="display: inline-block; float: right; margin-right: 2px; margin-top: -34px;" id="menuButton" start>
            <button ion-button icon-only menuToggle style="background:black!important">
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </div>
</div>

<ion-content padding style="margin-top: 92px;">
W3LCOM3 TO G0D P4G3
<div *ngIf="areYouAGodVariable"> 
I am a god!
</div>
  <div *ngIf="!areYouAGodVariable"> 
    I am not a god!
  </div>
</ion-content>