<!-- Mobile Menu -->
<!-- 
    Mobile menu opens up on the left side and the UPS logo 
    is located at the top of the menu
-->
<ion-menu *ngIf="this.dir" side="left" [content]="nav">
  <ion-header class="noShowOnDesktop">
    <ion-navbar style="text-align: center;">
        <img alt="Ups-Logo" class="img-responsive ups_logo" src="./assets/imgs/UPS_Logo.png" 
        style="transform: skew(0deg);width: 90px;height: 98px;margin: 0 auto;text-align: center;"/>
    </ion-navbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)"> 
        <ion-icon item-start [name]="p.icon"></ion-icon>
        {{ p.title }}
      </button>
      <button (click)="logout()">
        Logout
      </button>
      <button ion-item menuClose (click)="toggleAppTheme()">
        <ion-icon item-start name="bulb"></ion-icon>
        Toggle Theme
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<!-- Desktop Menu -->
<!-- 
    Desktop menu opens on the right side of the page
    and does not have a UPS logo inside of it 
-->
<ion-menu *ngIf="!this.dir" side="right" [content]="nav">
  <ion-content>
    <ion-list>
      <button ion-item menuClose *ngFor="let p of pages" (click)="openPage(p)"> 
        <ion-icon item-start [name]="p.icon"></ion-icon>
        {{ p.title }}
      </button>
      <button (click)="logout()">
        Logout
      </button>
      <button ion-item menuClose (click)="toggleAppTheme()">
        <ion-icon item-start name="bulb"></ion-icon>Toggle Theme
      </button>
    </ion-list>
  </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #nav main name="app" swipeBackEnabled="false"></ion-nav>